{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block description %}
    {% block title %}{% block keywords %}{% endblock %} :: {{ block.super }}{% endblock %}
{% endblock %}

{% block content %}
<h2>{{ news.name }}</h2>
    {% if news.main_image %}
    {% thumbnail news.main_image "350" as im %}
        <img src="{{ im.url }}">
    {% endthumbnail %}
    {% endif %}
    {{ news.content|safe }}
{% endblock %}

{% block other_news %}
    <h3>Другие статьи раздела</h3>
    {% if news.level == 0 %}
    <ul>
    {% for child in news.get_children %}
            <li>
                <a href="{{ child.get_absolute_url }}">
                {% if child.main_image %}
                {% thumbnail child.main_image "275x200" crop="center" as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}
                    {% else %}
                    <img src="{{ MEDIA_URL }}img/universe.jpg">
                {% endif %}
                    <h4>{{ child.name }}</h4>
                <p>{{ child.headline }}</p></a>
            </li>
    {% endfor %}
    </ul>
    {% else %}
    <ul>
    {% for child in news.get_siblings %}
            <li>
                <a href="{{ child.get_absolute_url }}">
                {% if child.main_image %}
                {% thumbnail child.main_image "275x200" crop="center" as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}
                    {% else %}
                    <img src="{{ MEDIA_URL }}img/universe.jpg">
                {% endif %}
                    <h4>{{ child.name }}</h4>
                <p>{{ child.headline }}</p></a>
            </li>
    {% endfor %}
    </ul>
    {% endif %}
{% endblock %}