<!DOCTYPE html>
{% load i18n cache mptt_tags %}

<html>
    <head>
		<link href="{{ MEDIA_URL }}favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta http-equiv="X-UA-Compatible" content="IE=8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="author" content="Noel">
        <meta name="keywords" content="{% block keywords %}Модель мироздания Сознанием наделенная{% endblock %}">
        <meta name="description" content="{% block description %}Модель мироздания Сознанием наделенная{% endblock %}">
        <link href="{{ MEDIA_URL }}css/style.css" type="text/css" rel="stylesheet">
        <!--[if lt IE 9]>
        <link href="{{ MEDIA_URL }}css/style_ie8.css" type="text/css" rel="stylesheet">
        <![endif]-->        
        <title>{% block title %}Модель мироздания Сознанием наделенная{% endblock %}</title>
        <script src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"></script>
        <script src="{{ MEDIA_URL }}js/jquery.placeholder.min.js"></script>
        <script src="{{ MEDIA_URL }}js/placeholder.js"></script>
        <script src="{{ MEDIA_URL }}js/button.js" type="text/javascript"></script>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
    {{ constants.yandex_counter|safe }}
    <div id="main_column"><a href="/" id="logo"></a><span id="slogan"></span>
        <ol id="main_menu">
            <li class="menu_active"><p>Обращение к Человечеству</p></li>
            {% for news in root_news %}
            <li><a href="{{ news.get_absolute_url }}">{{ news.name }}</a></li>
            {% endfor %}
        </ol>
        <div id="content">
{% block content %}
{% endblock %}
        </div>
    </div>
    <div id="right_column">
        <div id="right_top_menu">
            <a href="/about/">Об авторе</a>
            <a href="/library/">Библиотека</a>
            <a href="/">Контакты</a>
            <a href="/" class="but rus"></a>
            <a href="/" class="but en"></a>
        </div>
        <div id="social">
            <a href="/" class="fb"></a>
            <a href="/" class="tw"></a>
            <a href="/" class="vk"></a>
            <a href="/" class="gp"></a>
        </div>
        <div id="search">
        <form id="search-block-form" action="{% url search %}" method="get" class="searchform">
            <div class="form-item">
                <input type="text" name="" value="" maxlength="128" placeholder="Найти...">
            </div>
            <div class="form-actions">
                <input type="submit" name="op" value="Поиск" class="form-submit">
            </div>
        </form>
        </div>
        {% block other_news %}
        <h3>Другие статьи</h3>
        <ul>
        {% for news in root_news %}
            <li>
                <a href="{{ news.get_absolute_url }}">
                {% if news.main_image %}
                    <img src="{{ MEDIA_URL }}{{ news.main_image.url }}">
                    {% else %}
                    <img src="{{ MEDIA_URL }}img/universe.jpg">
                {% endif %}
                    <h4>{{ news.name }}</h4>
                <p>{{ news.headline }}</p></a>
            </li>
        {% endfor %}
        </ul>
        {% endblock %}
    </div>

	{{ constants.google_analytics|safe }}


    </body>
</html>
