<div id="left_column">
        <ul id="production">
        <form id="search" action="{% url search %}" method="get" class="searchform">
            <input class="searchfield" type="text" value="Поиск..." name="q" onfocus="if (this.value == 'Поиск...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Поиск...';}" />
            <input class="searchbutton" type="submit" value="Ok" />
        </form>
        <h3>Каталог</h3>
           {% for category in root_categories %}
                <li><a href="{{ category.get_absolute_url }}" class="name">{{ category.name|upper }}</a></li>
                {% comment %}
                {% for child in category.children.all %}
                            <li>
                            <a class="submenu" href="{{ child.get_absolute_url }}">{{ child.name }}</a>
                            </li>
                        {% endfor %}
                {% endcomment %}
            {% endfor %}
        <h3>Бренды</h3>
            {% for category in brand_categories %}
                <li><a href="{{ category.get_absolute_url }}" class="name">{{ category.name|upper }}</a></li>
                {% comment %}
                {% for child in category.children.all %}
                            <li>
                            <a class="submenu" href="{{ child.get_absolute_url }}">{{ child.name }}</a>
                            </li>
                        {% endfor %}
                {% endcomment %}
            {% endfor %}
        </ul>
    </div>