{% extends "base.html" %}
{% load i18n %}

{% block description %}
    {% block title %}{% block keywords %}{{ lookup_text }}{% endblock %} :: {{ block.super }}{% endblock %}
{% endblock %}

{% block content %}
<h2>РЕЗУЛЬТАТЫ ПОИСКА</h2>
	<p class="description">Поиск по названию "{{ lookup_text }}":</p>
	{% for article in object_list %}
    <p id="search_result"><a href="{{ article.get_absolute_url }}"><img src="{% url eshop_show_item_thumb article.id 50 %}">{{ article.name }}</a><span class="search_price">{{ article.price }} грн.</span></p>
    {% endfor %}

{% endblock %}
